body{
    padding: 0;
    margin: 0;
    background: #800000;
}
.search_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #FA8072;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search_btn{
    color: #FF0000;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FF6347;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}
.search_txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
.search_box:hover > .search_txt{
    width: 240px;
    padding: 0 6px;
}
.search_box:hover > .search_btn{
   background: white;
}